<div class="top">
  <h1>ROCK PAPER SCISSORS</h1>
  <p>THE RULES:</p>
  <p>rock beats scissors</p>
  <p>scissors beats paper</p>
  <p>paper beats rock</p>
  <p>GAME ON!</p>
</div>
<div class="bottom">
  <p><a href="/game/rock/scissors">LET'S PLAY</a></p>
</div>
